body{
    margin:0;
    font-family: Arial;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
    text-align:center;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
    background:#0d1b2a;
}

.logo{
    font-size:20px;
    font-weight:bold;
}

.menu a{
    color:white;
    margin-left:20px;
    text-decoration:none;
}

/* Hero section */

.hero{
    padding:80px 20px;
}

/* Search */

.search-box{
    margin-bottom:20px;
}

.search-box input{
    padding:12px;
    width:350px;
    border:none;
    border-radius:30px 0 0 30px;
}

.search-box button{
    padding:12px 25px;
    border:none;
    background:#2ecc71;
    color:white;
    border-radius:0 30px 30px 0;
    cursor:pointer;
}

/* Title */

h1{
    font-size:48px;
    margin-top:20px;
}

h1 span{
    color:#2ecc71;
}

/* Paragraph */

.hero p{
    width:60%;
    margin:auto;
    margin-top:10px;
    color:#ddd;
}

/* Buttons */

.buttons{
    margin-top:30px;
}

.start{
    background:#2ecc71;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    margin-right:10px;
    cursor:pointer;
}

.login{
    background:transparent;
    border:1px solid white;
    padding:12px 25px;
    border-radius:25px;
    color:white;
}

/* Icon */

.icon{
    font-size:60px;
    margin-top:30px;
}

/* Stats */

.stats{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;
}

.card{
    background:rgba(255,255,255,0.1);
    padding:25px;
    border-radius:10px;
    width:150px;
}