<!DOCTYPE html>
<html>
<head>
<title>Study Material</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
<header>

<h2>Study Material System</h2>

<nav>
<a href="/">Home</a>
<a href="/category">Browse</a>
{% if session.user %}
<a href="#">{{ session.user }}</a>
<a href="/logout">Logout</a>
{% else %}
<a href="/login">Login</a>
<a href="/register">Register</a>
{% endif %}
</nav>

</header>

<div class="content">

{% block content %}

{% endblock %}

</div>
<div class="bubbles">
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>
</div>

</body>
</html>