{% extends "base.html" %}
{% block content %}
<h1 class="title">Data Structures Topics</h1>

<ul class="topics">

<li><a href="#">Introduction to Data Structures</a></li>
<li><a href="#">Arrays and Operations</a></li>
<li><a href="#">Linked List Implementation</a></li>
<li><a href="#">Stack and Applications</a></li>
<li><a href="#">Queue and Circular Queue</a></li>
<li><a href="#">Trees and Binary Trees</a></li>
<li><a href="#">Binary Search Trees</a></li>
<li><a href="#">Graph Representation</a></li>
<li><a href="#">Sorting Algorithms</a></li>
<li><a href="#">Hashing Techniques</a></li>

</ul>

<div class="back">
<a href="index.html">Back to Subjects</a>
</div>
{% endblock %}