{% extends "base.html" %}
{% block content %}
<h1 class="title">Operating System Topics</h1>

<ul class="topics">

<li><a href="#">Introduction to Operating Systems</a></li>
<li><a href="#">Process Management</a></li>
<li><a href="#">CPU Scheduling Algorithms</a></li>
<li><a href="#">Deadlock Concepts</a></li>
<li><a href="#">Memory Management</a></li>
<li><a href="#">Virtual Memory</a></li>
<li><a href="#">File Systems</a></li>
<li><a href="#">Disk Scheduling</a></li>
<li><a href="#">Input Output Systems</a></li>
<li><a href="#">System Security</a></li>

</ul>

<div class="back">
<a href="index.html">Back to Subjects</a>
</div>
{% endblock %}