{% extends "base.html" %}
{% block content %}
<h1 class="title">Theory of Computation Topics</h1>

<ul class="topics">

<li><a href="#">Finite Automata Concepts</a></li>
<li><a href="#">Deterministic Finite Automata</a></li>
<li><a href="#">Non Deterministic Finite Automata</a></li>
<li><a href="#">Regular Expressions</a></li>
<li><a href="#">Conversion of NFA to DFA</a></li>
<li><a href="#">Context Free Grammar</a></li>
<li><a href="#">Pushdown Automata</a></li>
<li><a href="#">Pumping Lemma</a></li>
<li><a href="#">Turing Machines</a></li>
<li><a href="#">Complexity Theory</a></li>

</ul>
<div class="back">
<a href="index.html">Back to Subjects</a>
</div>
{% endblock %}
